body {
    background-image: url(https://wallpaperaccess.com/full/296951.jpg);
    color: #343a3f
}

.navbar-brand:hover {
    opacity: 0.75;
}

.jumbotron {
    width: 70%;
}

.lead {
    font-size: 28px;
}

.btn {
    text-align: left;
    font-size: 24px;
    background-color: #e7717d;
    border-color: #e7717d;

}

.btn:hover {
    background-color: #343a3f;
    border-color: #343a3f;
}

.highscores {
    font-size: 20px;
    margin-top: 50px;
}


.fas {
    font-size: 40px;
    color: #e7717d
}

#start {
    text-align: center;
}

#start-button {
    font-size: 30px;
}

#questionsSection,
#submitSection {
    display: none;
}